*{
    padding: 0;
    margin: 0;
}

.x{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    float: left;
}

.y{
    width: 220px;
    height: 22px;
}


.midBoard{
    width: 90%;
    float: left;
    border: 1px solid black;
}

.board{
    margin: 20px;
}

.shipBlock{
    border: 1px solid black;    
    float: left;
    width: 20px;
    height: 20px;
    
}
.forBoard{
    border: 1px solid black;
    width: 40%;
    float: left;
}
.shipContainer{
    width: 21px;
    min-height: 20px;
    float: left;
    margin: 5px;
    background-color: steelblue;
}

#shipsMenu{
    width: 25px;
    min-height: 30vh;
    /*border: 1px solid black;*/
    float: left;
    margin-right: 10px;
}

#pointerShip{
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    z-index: -10;

}

#BoardPlayerMine{
    position: relative;
}

#BoardPlayerOpponent{
    position: relative;

}

#start{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: white;
    margin: 0 auto;
}

.not-visible{
    display: none;
}

#infoForComputer, #infoForPlayer{
    border: 1px solid black;
    width: 200px;
    height: 100px;    
}

#computerBoards{
    display: none;
}